marcas/validacionesXML/Boletin 1 dtd Joel Muñiz/Ejercicio 6/listafacturas.dtd

<!ELEMENT listafacturas (factura+)>
<!ELEMENT factura (fecha?,emisor,cif,pagador,importe)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT emisor (nombre,volumenventas?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT volumenventas (#PCDATA)>
<!ELEMENT pagador (nombre,volumenventas?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT volumenventas (#PCDATA)>
<!ELEMENT cif (#PCDATA)>
<!ELEMENT importe (#PCDATA)>